{% load static %}
<!DOCTYPE html>
<html lang="en-us" dir="ltr">
<head>
  
<title>Admin Login</title>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/nav_sidebar.css">
    <script src="/static/admin/js/nav_sidebar.js" defer=""></script>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/login.css">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css">
    
    <meta name="robots" content="NONE,NOARCHIVE">
</head>

<body class=" login" data-admin-utc-offset="0">

<!-- Container -->
<div id="container">

    <!-- Header -->
    
    <div id="header">
        <div id="branding">
            <h1 id="site-name"><a href="{% url 'login' %}" >Admin Login</a></h1>
        </div>   
    </div>
    
    <!-- END Header -->
    
    

    <div class="main" id="main">

      <div class="content">
        
        <!-- Content -->
        <div id="content" class="colM">
          

<div id="content-main">



<form action="{% url 'login' %}" method="post" id="login-form"><input type="hidden" name="csrfmiddlewaretoken" value="ztAXgpxXd1dP8tzWXUQKO05hcuZpl41kNvubsfVVeuwkTScNeTGIE4UshYoxkTVh">
    {% csrf_token %}
    <div class="form-row">
        <label for="id_username" class="required">Username:</label> <input type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required="" id="id_username">
    </div>
    <div class="form-row">
    
        <label for="id_password" class="required">Password:</label> <input type="password" name="password" autocomplete="current-password" required="" id="id_password">
        <input type="hidden" name="next" value="/admin/auth/user/">
    </div>

  <div class="submit-row">
    <input type="submit" value="Log in">
  </div><br>
  <center>
  <div class="form-row">
    <a href="#">Forgot password?</a>
  </div><br>
  <div class="form-row">
    <a href="{% url 'load_home_page' %}">Back to Home</a>
  </div>
</center>
</form>

</div>

          
          <br class="clear">
        </div>
        <!-- END Content -->
        <div id="footer"></div>
      </div>
    </div>
</div>
<!-- END Container -->


</body>
</html>