
<div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200" id="folderimgs">
    {% for img in folimgs %}
      <div class="col-lg-4 col-md-6 portfolio-item"  >
      
        <div class="portfolio-wrap">
       
          <figure >
          {% if img.image_url %}
            <img src="{{ img.image_url.url}} " class="img-fluid" alt="" style="width:100%;height:100%;">
            <a href="{{ img.image_url.url}} " data-lightbox="portfolio"  class="link-preview portfolio-lightbox"><i class="bi bi-plus"></i></a>
          {% endif %}
          </figure>
        
        </div>
      
      </div>
    {% endfor %}
    
</div>


